/*Body*/
body {
    font: 100%/1.6 Helvetica, Arial, sans-serif;
    color: #2d3c49;
}

img, embed, object, video {
    /*width: 100%;*/
    width: 100%;
    font-size: 24px;
    }

/*Header*/
.header-all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.header-name {
    display: flex;
    flex-flow: column wrap;

}

.header-in {
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
}

.name {
   font-size: 1.8em;
   font-weight: lighter;
}
.mission {
   font-size: 1em;
}

hr {
    border: 0; /* Убираем границу */
    background-color: #7d97ad; /* Цвет линии */
    color: #7d97ad; /* Цвет линии для IE6-7 */
    height: 3px;
    margin: 0;
    padding: 0;
}

.logo-mark {
    /*position: absolute;
    left: 15px;
    top: 10px;
    align-self: flex-start;*/
}

/*Main*/
.picture {
    margin: 10px 0 0;
    padding: 0;
}
/*Article*/
h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    opacity: 0.6;
    font-size: 1.4em;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.box {
    width: 100%;
}

.work-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    color: #7d97ad;
}

a {
    color: #2d3c49;
    text-decoration: none;
}
/**/

/**/

/**/

/**/

@media screen and (min-device-width: 760px) {

}

@media screen and (min-width: 950px) {

}

@media screen and (min-width: 1200px) {
    .container {
        flex-flow: row nowrap;
    }

    .box {
        width: calc(100%/3);
        margin: 0;
        padding: 0;
    }
}