/*Body*/
body {
    display: block;
    font: 100%/1.6 Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2d3c49;
    margin: 0;
    padding: 0;
    width: 100%;
}
.body-in {
    margin: 0;
    padding: 17px 30px;
    width: calc(100% - 60px);
}

img, embed, object, video {
    width: 100%;
}


/*Header*/
header {
    padding: 0 0 12px;
}
.header-all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 4px;
}

.header-name {
    display: flex;
    flex-flow: column wrap;

}

.header-in {
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    /*opacity: 0.8;*/
}

.name {
   font-size: 1.3em;
   font-weight: normal;
}
.mission {
   font-size: 0.8em;
}

hr {
    border: 0; /* Убираем границу */
    background-color: #7d97ad; /* Цвет линии */
    color: #7d97ad; /* Цвет линии для IE6-7 */
    height: 3px;
    margin: 0;
    padding: 0;
}

.logo-mark {
    /*position: absolute;
    left: 15px;
    top: 10px;
    align-self: flex-start;*/
}


/*Main*/
main {
   width: 100%;
}
.picture {
    /*padding: 20px 0 0;*/
    margin: 0;
}
/*Article*/
article {
    margin-top: 8px;
}

.article-name {
    margin: 0;
    padding: 0 10px 0;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    opacity: 0.6;
    font-size: 1.3em;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.box {
    width: 100%;
    margin-bottom: 8px;
}

.box:last-of-type {
    margin-bottom: 0;
}

.work-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2em;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
    color: #7d97ad;
}

a {
    color: #2d3c49;
    text-decoration: none;
}

/*Media*/
@media screen and (min-device-width: 450px) {
    .body-in {
         padding: 25px 50px;
         width: calc(100% - 100px);
    }
    article {
        margin-top: 6px;
    }
    header {
        padding: 0 0 14px;
    }
    .header-all {
        margin-bottom: 6px;
    }
/*All fonts*/
    .name {
       font-size: 1.8em;
    }
    .mission {
       font-size: 1em;
    }

    .article-name {
        font-size: 1.4em;
    }

    .work-name {
        font-size: 1.3em;
    }
    p {
        font-size: 0.9em;
    }

}

@media screen and (min-device-width: 550px) {
    .body-in {
         padding: 30px 60px;
         width: calc(100% - 120px);
    }

    header {
        padding: 0 0 16px;
    }
    .header-all {
        margin-bottom: 8px;
    }

    article {
        margin-top: 6px;
    }
    .box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .box-in1 {
        width: 50%;
        /*width: calc(50% - 20px);*/
        padding: 15px 0;
    }

    .box-in1:first-of-type {
        padding-top: 0;
    }

    .box-in2 {
        width: 50%;
    }

/*All fonts*/
    .name {
       font-size: 2.2em;
       font-weight: normal;
    }
    .mission {
       font-size: 1.2em;
    }

    .article-name {
        font-size: 1.8em;
    }

    .work-name {
        font-size: 1.8em;
    }

}

@media screen and (min-width: 800px) {
    .body-in {
        padding: 35px 80px;
        width: calc(100% - 160px);
    }

    header {
        padding: 0 0 18px;
    }
    .header-all {
        margin-bottom: 10px;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
    }

    .picture {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .container {
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }

    .box:last-of-type {
        margin-right: 0;
    }

    .box-in1, .box-in2 {
        width: 100%;
        padding:0;
    }

/*All fonts*/
    .name {
       font-size: 2.6em;
       font-weight: normal;
    }

    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.9em;
    }

    .work-name {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 1260px) {
/*All fonts*/
    .body-in {
        width: 1100px;
        margin: auto;
        padding: 35px 0;
    }

    .name {
       font-size: 3em;
    }

    .mission {
       font-size: 1.5em;
    }

    .article-name {
        font-size: 2.1em;
    }

    .work-name {
        font-size: 2.1em;
    }
}




/*@media screen and (min-width: 950px) {
    main {
        display: flex;
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .picture {
        width: 70%;
    }
    article {
         width: 30%;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }

    /*All fonts*/
    /*.name {
       font-size: 2.4em;
    }
    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.7em;
    }

    .work-name {
        font-size: 1.7em;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }
}*/

/*@media screen and (min-width: 950px) and (orientation:portrait) {
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    .picture {
        width: 100%;
    }
    article {
        width: 100%;
    }
    .container {
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
/*All fonts*/
    /*.name {
       font-size: 2.4em;
    }
    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.9em;
    }

    .work-name {
        font-size: 1.9em;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }
}*/

