/*Body*/
body {
    display: block;
    font: 100%/1.6 Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2d3c49;
    margin: 0;
    padding: 0;
    width: 100%;
}
.body-in {
    margin: 0;
    padding: 10px 25px 10px;
    width: calc(100% - 50px);
}

img, embed, object, video {
    width: 100%;
}


/*Header*/
.header-all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-name {
    display: flex;
    flex-flow: column wrap;

}

.header-in {
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    /*opacity: 0.8;*/
}

.name {
   font-size: 1.6em;
   font-weight: lighter;
}
.mission {
   font-size: 0.9em;
}

hr {
    border: 0; /* Убираем границу */
    background-color: #7d97ad; /* Цвет линии */
    color: #7d97ad; /* Цвет линии для IE6-7 */
    height: 3px;
    margin: 0;
    padding: 0;
}

.logo-mark {
    /*position: absolute;
    left: 15px;
    top: 10px;
    align-self: flex-start;*/
}


/*Main*/
main {
   width: 100%;
}
.picture {
    padding: 20px 0 0;
    margin: 0;
}
/*Article*/
.article-name {
    margin: 0;
    padding: 0 10px 0;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    opacity: 0.6;
    font-size: 1.4em;
}

.container {
    display: flex;
    flex-flow: column wrap;
}

.box {
    width: 100%;
}

.work-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1em;
    color: #7d97ad;
}

a {
    color: #2d3c49;
    text-decoration: none;
}

/*Media*/
@media screen and (min-device-width: 750px) {
    .body-in {
         padding: 20px 50px 20px;
         width: calc(100% - 100px);
    }
    .box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .box-in1 {
        width: 50%;
        /*width: calc(50% - 40px);*/
        /*padding: 20px 20px 20px;*/
    }
    .box-in2 {
        width: 50%;
    }

/*All fonts*/
    .name {
       font-size: 2.2em;
    }
    .mission {
       font-size: 1.2em;
    }

    .article-name {
        font-size: 1.8em;
    }

    .work-name {
        font-size: 1.8em;
    }

    hr {
        height: 3px;
        margin: 5px 0 5px;
    }
}

@media screen and (min-width: 950px) {
    .body-in {
        padding: 25px 70px 25px;
        width: calc(100% - 140px);
    }
    main {
        display: flex;
        flex-flow: column nowrap;
    }

    .picture {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .container {
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }

    section:last-of-type {
        margin-right: 0;
    }

    .box-in1, .box-in2 {
        width: 100%;
    }

/*All fonts*/
    .name {
       font-size: 2.4em;
    }

    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.9em;
    }

    .work-name {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 1240px) {
/*All fonts*/
    .body-in {
        width: 1100px;
        margin: auto;
        padding: 25px 0 25px;
    }

    .name {
       font-size: 2.8em;
    }

    .mission {
       font-size: 1.5em;
    }

    .article-name {
        font-size: 2.1em;
    }

    .work-name {
        font-size: 2.1em;
    }
}




/*@media screen and (min-width: 950px) {
    main {
        display: flex;
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .picture {
        width: 70%;
    }
    article {
         width: 30%;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }

    /*All fonts*/
    /*.name {
       font-size: 2.4em;
    }
    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.7em;
    }

    .work-name {
        font-size: 1.7em;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }
}*/

/*@media screen and (min-width: 950px) and (orientation:portrait) {
    main {
        display: flex;
        flex-flow: column nowrap;
    }
    .picture {
        width: 100%;
    }
    article {
        width: 100%;
    }
    .container {
        flex-flow: row nowrap;
    }
    .box {
        flex-flow: column nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }
/*All fonts*/
    /*.name {
       font-size: 2.4em;
    }
    .mission {
       font-size: 1.3em;
    }

    .article-name {
        font-size: 1.9em;
    }

    .work-name {
        font-size: 1.9em;
    }
    .box-in1, .box-in2 {
        width: 100%;
    }
}*/

